## Even though we don't send all files to the resulting image,
##   .dockerignore is used to reduce the build context so the 
##   builds happen faster
.git
.github
githooks/

.DS_Store
.prettier*
.eslint*

*.log

android/
ios/

docs/
*.md

node_modules/
playwright-report/

.env.*
!.env.docker
!.env.playwright
Dockerfile
