# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.env
 
# Ignore plawright saved browser contexts (moved to tests/auth-states)
*-context.json
# Ignore playwright run IDs (moved to tests/auth-states)
run-id.txt
# Ignore test data file
.test-data.json
# WIP data files
*.wip.*

# Test directories
/tests/auth-states/
/tests/reports/
/tests/results/
/test-results/
/playwright-report/

# lock files
package-lock.json

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/android
/ios

# misc
.DS_Store
.env.local
.env.development
.env.development.local
.env.test.local
.env.production.local

vite.config.local.mts

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.bak

.vscode

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
